
{% block interests %}
    <!-- ======= Интересы ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Профессиональные интересы</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-file-code-line" style="color: #ffbb2c;"></i>
            <h3>Django</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
            <h3>Аналитика</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-book-mark-line" style="color: #e80368;"></i>
            <h3>Техническая литература</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-slideshow-line" style="color: #e361ff;"></i>
            <h3>Веб-дизайн</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-terminal-box-line" style="color: #11dbcf;"></i>
            <h3>Алгоритмы</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-server-line" style="color: #ffa76e;"></i>
            <h3>Бэкенд</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-database-2-line" style="color: #47aeff;"></i>
            <h3>Структуры данных</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-hammer-line" style="color: #4233ff;"></i>
            <h3>Железо</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-briefcase-fill" style="color: #b2904f;"></i>
            <h3>IT-курсы</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-computer-line" style="color: #b20969;"></i>
            <h3>Фронтенд</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-android-line" style="color: #ff5828;"></i>
            <h3>Робототехника</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-database-line" style="color: #29cc61;"></i>
            <h3>Big Data</h3>
          </div>
        </div>
      </div>
    </div><!-- конец раздела -->
<!-- ======= 22Интересы22 ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Работа и образование</h2>
      </div>
      <!-- education -->
      <div class="container-z">
        	<div class="row">
                <div class="rounded-icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="resume-out">
                    <div class="resume-info">
                        <h2 class="info-title">Abc University of Los Angeles</h2>
                        <span class="info-date">2010 - Present </span>
                        <p>Donec pulvinar feugiat dui vel egestas. Nulla sit amet risus risus. Nulla auctor libero vitae erat posuere, sit amet viverra turpis lobortis. Nullam eleifend cursus tellus a egestas. Donec at elementum orci. </p>
                    </div> <!-- .resume-info -->
                    <div class="resume-info">
                        <h2 class="info-title">Drawing Course</h2>
                        <span class="info-date">2003 - 2004 </span>
                        <p>Duis ipsum ligula, feugiat nec auctor vitae, porta sit amet urna. Praesent ex lorem, porta nec aliquet eu, ullamcorper eget nibh. Vivamus aliquet orci a elementum tincidunt. Etiam sed mi vel nibh varius viverra sed ac</p>
                    </div> <!-- .resume-info -->
                    <div class="resume-info">
                        <h2 class="info-title">Abc High School</h2>
                        <span class="info-date">2000 - 2003 </span>
                        <p>Morbi nulla arcu, pellentesque sed egestas in, tempor eget felis. Nullam tincidunt augue in leo feugiat, quis interdum nisi sollicitudin. Suspendisse vulputate diam sit amet rutrum dictum. Donec tempus a lectus quis luctus. Vivamus sed maximus justo, sed aliquet purus.</p>
                    </div> <!-- .resume-info -->
                </div> <!-- .resume-out end -->
            </div> <!-- .row end -->
        <!-- experience -->
        	<div class="row">
                <div class="rounded-icon">
                    <i class="fa fa-suitcase"></i>
                </div>
                <div class="resume-out">
                    <div class="resume-info">
                        <h2 class="info-title">Abc University of Los Angeles</h2>
                        <span class="info-date">2010 - Present </span>
                        <p>Donec pulvinar feugiat dui vel egestas. Nulla sit amet risus risus. Nulla auctor libero vitae erat posuere, sit amet viverra turpis lobortis. Nullam eleifend cursus tellus a egestas. Donec at elementum orci. </p>
                    </div> <!-- .resume-info -->
                    <div class="resume-info">
                        <h2 class="info-title">Drawing Course</h2>
                        <span class="info-date">2003 - 2004 </span>
                        <p>Duis ipsum ligula, feugiat nec auctor vitae, porta sit amet urna. Praesent ex lorem, porta nec aliquet eu, ullamcorper eget nibh. Vivamus aliquet orci a elementum tincidunt. Etiam sed mi vel nibh varius viverra sed ac</p>
                    </div> <!-- .resume-info -->
                    <div class="resume-info">
                        <h2 class="info-title">Abc High School</h2>
                        <span class="info-date">2000 - 2003 </span>
                        <p>Morbi nulla arcu, pellentesque sed egestas in, tempor eget felis. Nullam tincidunt augue in leo feugiat, quis interdum nisi sollicitudin. Suspendisse vulputate diam sit amet rutrum dictum. Donec tempus a lectus quis luctus. Vivamus sed maximus justo, sed aliquet purus.</p>
                    </div> <!-- .resume-info -->
                </div> <!-- .resume-out end -->
            </div> <!-- .row end -->
  </section><!-- конец секции Резюме -->
{% endblock %}