{% block resume %}
  <!-- ======= Результаты ALLURE ======= -->
  <section id="resume" class="about">

    <!-- ======= ALLURE ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About Me</h2>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="static/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <p class="fst-italic">
<p>Меня зовут Алексей. Я успешно окончил курсы в Компьютерная академия "ШАГ" в г. Минск, специализирующиеся на ручном и
  автоматизированном тестировании программного обеспечения. В рамках этих курсов я приобрел следующие навыки и знания:</p>
<div class="box-z">
<p>-------------------</p>
<p>-------------------</p>
<p>-------------------</p>
<p>-------------------</p>
<p>-------------------</p>
</div>
<p></p>
<p>Мне нравится работать в этой области, потому что у меня есть возможность влиять на качество продукта и улучшать
  жизнь пользователей, которые используют эти приложения. Я стремлюсь выполнять свою работу с высоким качеством,
  не боюсь принимать новые и сложные задачи, и в этом мне помогают мои качества, такие как усидчивость и внимательность
  к деталям. Эти качества позволяют мне выявлять баги и подробно описывать ошибки, что, в свою очередь, способствует
  устранению дефектов в продуктах.</p>

</div><!-- конец секции -->

{% endblock %}